<h2>Tv-Shows:</h2>

<app-new-show [(title)]="newTitle" />
<app-new-show-preview [title]="newTitle" />
<input [(ngModel)]="newDescription" />

<!-- <h3>add a new show (template driven form):</h3>
<app-new-show-template-form /> -->

<h3>New show (reactive form):</h3>
<app-new-show-reactive-form />

<h1>{{ loading ? "Loading..." : "" }}</h1>
<span style="color: red" *ngIf="error">{{ error }}</span>

<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let show of tvShows">
    <app-tv-show-item [tvShow]="show"></app-tv-show-item>
  </mat-grid-tile>
</mat-grid-list>
