<!-- <h1>Hello {{ displayName() }}!</h1>

<button (click)="displayName()">{{ buttonText }}</button>
<br />
<input type="text" [value]="name" [disabled]="isEmailEnabled" /> -->

<app-navbar></app-navbar>

<app-counter [(count)]="initialCount" />
<br />

<span [ngStyle]="initialCountStyle"> initialCount </span>

: {{ initialCount }}

<div *ngIf="initialCount >= 18"><p>Majeur ?!</p></div>

<div
  [ngClass]="i % 2 === 1 ? 'even' : 'odd'"
  *ngFor="let country of countries; let i = index"
>
  {{ country }} {{ i }}
</div>

<div [ngSwitch]="selectedCountry">
  <div *ngSwitchCase="'fr'">salut!</div>
  <div *ngSwitchCase="'be'">hello!</div>
</div>
