* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: blueviolet;
}

body {
  background-color: black;
  color: white;
}
